.page-header
  = link_to new_speaker_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Speaker
  %h1 Listing speakers

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Phone
        %th Email
        %th
        %th

    %tbody
      - @speakers.each do |speaker|
        %tr
          %td= link_to speaker.name, speaker  
          %td= speaker.phone
          %td= speaker.email
          %td= link_to 'Edit', edit_speaker_path(speaker), class:'btn btn-xs btn-warning'
          %td= link_to 'Destroy', speaker, data: { confirm: 'Are you sure?' }, method: :delete, class:'btn btn-xs btn-danger'
        %tr
          %td{colspan:5}
            = speaker.description
