.page-header
  = link_to speakers_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_speaker_path(@speaker), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show speaker

%dl.dl-horizontal
  %dt Name:
  %dd= @speaker.name
  %dt Description:
  %dd= @speaker.description
  %dt Phone:
  %dd= @speaker.phone
  %dt Email:
  %dd= @speaker.email
